{% extends 'base.html.twig' %}

{% block content %}
    <article class="post mt-4">
        <h2 class="pb-3">{{ post.title }}</h2>

        <p class="post-metadata">
            <span class="metadata"><i class="fa fa-calendar"></i> {{ post.getCreatedAt() | date("F jS \\a\\t g:ia") }}</span>
        </p>

        {{ post.content | raw | nl2br }}

        {% if post.getTag() %}
            <p class="post-tags mt-3">
                {% for tag in post.getTag() %}
                    <span class="badge badge-secondary">{{ tag }}</span>&nbsp;
                {% endfor %}
            </p>
        {% endif %}

    </article>
{% endblock %}
