{% extends 'base.html.twig' %}

{% block content %}
    <div id="list-posts">
        <h1 class="pb-3  mt-4 font-italic">List posts</h1>
        <ul class="list-group list-group-flush">
            {% for post in postData %}
                <li class="list-group-item"><a href="{{ path('posts_detail', {id: post._id}) }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
